body {
    background-image: linear-gradient(90deg, rgb(146, 230, 202), #007c9b);
    margin: 0%;
    font-size: xx-large;
}
#dgm{
    text-align: center;
    color: antiquewhite;
}
.area {
    padding: 10px;
    height: 900px;
    width : 300px;
    background-color: rgba(71, 161, 196, 0.295);
    color: antiquewhite; 
    text-align: center;
    font-size: x-large;
    margin-top: -170px;
}    
.area_2 {
    color: antiquewhite;
    height: 200px;
    width : 300px;
}
button {
    background-color: #30ccb279;
    color: antiquewhite;
    height:  60px;
    width : 280px;
    margin-top:  30px;
    border-radius: 20px;
}
.question {
    height: 350px;
    width : 900px;
    background-color: #8598be98;
    color: antiquewhite;
    text-align: center;
    align-items: center;
    margin-top:-100px;
    margin-left:600px;
    border-radius: 20px;
}
#areas {
    height: 50px;
    width: 350px;
    color: antiquewhite;
    text-align: center;
    background-image: linear-gradient(90deg, rgba(0, 146, 146, 0.425), rgba(0, 255, 255, 0.281));
    font-size: xx-large;
    margin-left: 270px;
    border-radius: 20px;
}
#imagem_1 {
    height: 200px;
    width: 200px;
    margin-right: 600px;
}
#Infantil {
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: #069ca1;
    margin-left: 50px;
    margin-top: -8px;
}
#imagem_2 {
    height: 200px;
    width: 200px;
    position: relative;
    top: -74%;
}
#Jovens {
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: #069ca1;
    margin-left: 350px;
    margin-top: -267px;
}
#imagem_3 {
    height: 200px;
    width: 200px;
    position: relative;
    top: -74%;
    margin-left: 600px;
}
#Adulto {
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: #069ca1;
    margin-left: 650px;
    margin-top: -267px;
}
.ia {
    height: 900px;
    width : 300px;
    background-color: aliceblue;
    position:relative;
    margin-top:-900px;
    margin-left: 1600px;
    border-radius: 30px;
}
#inter {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 700px;
}
#men {
    height: 30px;
    width: 250px;
    align-items: center;
    margin-left: 7%;
    border-radius: 15px;
}
#p1 {
    height: 95px;
    width: 220px;
    background-color: antiquewhite;
    font-size: small;
    margin-left: 70px;
    margin-top: -80px;
}
#p2 {
    height: 60px;
    width: 220px;
    background-color: antiquewhite;
    font-size: small;
    margin-left: 70px;
    margin-top: -5px;
}




